.card-holder>div {
    width: 10%;
    height: 10%;
    margin: 0.5%;
}

.card-holder {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
}